#img-container {
    text-align: center;
    max-width: 90vh;
}

#aboutDiv {
    padding: 5vh 0;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#img-about {
    max-width: 100%;
    height: auto;
    width: auto;
    vertical-align: middle;
}

#about-text {
    line-height: 4vh;
    text-align: justify;
    max-width: 90vh;
    min-width: 50vh;
    align-items: center;
}

h2 {
    font-family: "Raleway", sans-serif;
    position: relative;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
    text-align: center;
}

h3 {
    font-family: "Raleway", sans-serif;
    position: relative;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
    text-align: center;
}

p {
    margin: 5vh;
}

body,
html {
    font-family: "Open Sans", sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    font-weight: 400;
}
