.mainDiv {
    height: 100%;
    width: 100%;
    margin: 5vh;
}

.logo {
    justify-content: center;
    align-content: center;
}

.summary {
    margin: 10vh;
}

.paper {
    height: 100%;
    width: 100%;
    align-content: center;
}

