#mainDiv {
    padding: 5vh 0;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#img-paper {
    height: 72vh;
    max-width: 45vh;
    min-width: 44vh;
    text-align: center;
    margin:auto;
}

#pup-img {
    height: 70vh;
    margin: 1vh;
    background: #fff;
    border-right: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.06);
}

#sign-up {
    margin-bottom: 1vh;
    margin-left: 5vh;
    margin-right: 5vh;
}

#login {
    margin-left: 5vh;
    margin-right: 5vh;
}

.landing-text {
    line-height: 4vh;
    text-align: center;
    min-width: 360px;
}

h2 {
    font-family: "Raleway", sans-serif;
    position: relative;
    margin-bottom: 1vh;
    padding-bottom: 1vh;
    text-align: center;
}

p {
    margin: 5vh;
}

body,
html {
    font-family: "Open Sans", sans-serif;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    color: #777;
    font-weight: 400;
}
